body {
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    flex-direction: column;
    display: inline-flex;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg, #6e48aa, #9d50bb);
    overflow: hidden;
}

.project {
    width: 200px;
    height: 230px;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #282828;
    transition: transform 0.2s ease-in-out, background 0.2s;
    color: white;
}

.project:hover {
    background: #6e28aa;
    transform: scale(.95);
}

.projects-container {
    margin-left: 60px;
}

.projects-container .projects-row:nth-child(even) {
    margin-left: -102.3px;
    margin-top: -54.5px;
    margin-bottom: -54.5px;
}

.about {
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 100%, 0 0%);
    width: 200px;
    height: 230px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #282828;
    transition: transform 0.2s ease-in-out, background 0.2s;
    color: white;
}
